$black: #2d2d2d;
$gray: #aaaaaa;
$color-accent: rgb(255, 255, 255);

$color-primary: rgb(243, 167, 70);
$color-secondary: rgb(249, 248, 113);
$color-info: rgb(149, 117, 205);
$color-success: rgb(46, 158, 131);
$color-warning: rgb(255, 188, 93);
$color-danger: rgb(198, 91, 109);

$color-text-primary: $color-primary;
$color-text-secondary: rgb(194, 172, 249);
$color-text-accent: $color-accent;
$color-text-light: $color-accent;
$color-text-dark: rgb(129, 129, 59);

$color-background-primary: rgb(40, 25, 53);
$color-background-secondary: rgb(68, 48, 90);
$color-background-accent: rgb(81, 62, 115);

$color-primary-t: rgba(243, 167, 70, 0.2);
$color-secondary-t: rgba(200, 169, 255, 0.2);
$color-info-t: rgba(149, 117, 205, 0.2);
$color-success-t: rgba(46, 158, 131, 0.2);
$color-warning-t: rgba(249, 248, 113, 0.2);
$color-danger-t: rgba(198, 91, 109, 0.2);

$color-border: rgb(87,62,115);
