@import "../../infrastructure/dimensions/dimension.module";
@import "../../infrastructure/colors/color.module";

.panel {
  background-color: $color-background-secondary;
  border-radius: $size-border-radius-medium;
}

.title {
  padding: $size-padding-medium;
  border-bottom: $size-border-small $style-border $color-border;
  font-weight: 500;
}

.content {
  padding: $size-padding-medium;
}
