@import "../../infrastructure/dimension.module";
@import "../../infrastructure/color.module";

.navigation {
  background-color: $color-background-secondary;
  font-size: $size-text-medium;
}

.link {
  padding: $size-padding-medium;
  border-bottom: $size-border-small $style-border $color-border;

  &:hover {
    color: $color-text-accent;
    background-color: $color-background-accent;
    cursor: pointer;
  }
}

.navLink {
  color: $color-text-secondary;
  text-decoration: none;
}

.group {
  color: $color-text-primary;
  border-bottom: $size-border-small $style-border $color-border;
  padding: $size-padding-medium;
}

.active > div {
  background-color: $color-background-accent;
  color: $color-text-accent;
}
