$size-text-extraSmall: 11px;
$size-text-small: 14px;
$size-text-medium: 18px;
$size-text-large: 28px;
$size-text-extraLarge: 40px;

$weight-font-medium: 400;

$size-border-small: 1px;

$style-border: solid;

$size-padding-medium: 15px;

$size-border-radius-medium: 5px;

$size-icon-extraSmall: $size-text-extraSmall;
$size-icon-small: $size-text-small;
$size-icon-medium: $size-text-medium;
$size-icon-large: $size-text-large;
$size-icon-extraLarge: $size-text-extraLarge;
