$size-text-extraSmall: 11px;
$size-text-small: 14px;
$size-text-medium: 18px;
$size-text-large: 28px;
$size-text-extraLarge: 40px;

$weight-font-medium: 400;

$size-border-small: 1px;

$style-border: solid;

$size-padding-medium: 15px;

$size-border-radius: 5px;
