@import "../../../infrastructure/dimensions/dimension.module";
@import "../../../infrastructure/colors/color.module";

.layout {
  background-color: $color-background-primary;
  font-weight: $weight-font-medium;
  color: $color-text-secondary;
  display: flex;
  min-height: 100vh;
}

.content {
  padding: $size-padding-medium;
  width: 100%;
}

.navigation {
  width: 250px;
  background-color: $color-background-secondary;
}
