@import "../../../infrastructure/dimension.module";
@import "../../../infrastructure/color.module";

.layout {
  background-color: $color-background-primary;
  font-weight: $weight-font-medium;
  color: $color-text-secondary;
  min-height: 100vh;
}

.content {
  padding: $size-padding-medium;
}

.navigation {
  width: 100%;
  position: absolute;
  bottom: 0;
}
