
.icon {
  position: relative;
  display: inline-block;

  svg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; /** @section Color */
  }
}

.img {
  //position: absolute;
  //left: 0;
  //right: 0;
  //top: 0;
  //bottom: 0;
  width: 25px; //100%;
  height: 25px;// 100%; /** @section Color */
}
