@import "../../infrastructure/dimension.module";
@import "../../infrastructure/color.module";

.navigation {
  background-color: $color-background-secondary;
  font-size: $size-text-medium;
}

.link {
  padding: $size-padding-medium;
}

.navLink {
  color: $color-text-secondary;
  text-decoration: none;
}

.area {
  color: $color-text-primary;
  padding: $size-padding-medium;
  display: flex;
  justify-content: space-between;
}

.active > div {
  background-color: $color-background-accent;
  color: $color-text-accent;
}
