@import "../../infrastructure/dimensions/dimension.module";
@import "../../infrastructure/colors/color.module";

.navigation {
  background-color: $color-background-secondary;
  font-size: $size-text-medium;
}

.link {
  padding: $size-padding-medium;
}

.navLink {
  color: $color-text-secondary;
  text-decoration: none;

  & > svg {
    width: $size-icon-extraLarge;
    height: $size-icon-extraLarge;

    & > path {
      fill: $color-text-secondary;
    }
  }
}

.area {
  color: $color-text-primary;
  padding: $size-padding-medium;
  display: flex;
  justify-content: space-around;
}

.active > svg > path {
  fill: $color-text-accent;
}
